/* ////////////////////////////////////////////////////// */
/*	    	      Блок цветов			 	 */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Блок размеров   			 	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Блок фонов			 	 */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Блок шрифтов  			 	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	     Блок иконок 			 	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*             Блок эффектов        */
/* ////////////////////////////////////////////////////// */
.heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
}
.heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.list-item__orange {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: normal;
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.list-item__orange:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.title--arrowed {
  position: relative;
}
.title--arrowed:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -13px;
  width: 71px;
  height: 4px;
  background-color: #d73030;
}
.box-bordered {
  padding: 20px;
  background-color: #ffffff;
  border-top: 4px solid #d73030;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* ////////////////////////////////////////////////////// */
/*	    	       Зонирование     			 	*/
/* ////////////////////////////////////////////////////// */
.somit-light {
  background-color: #ddd;
  margin: 40px 0;
}
.somit-image {
  background-color: #ddd;
  margin: 40px 0;
}
.somit-dark {
  background-color: #444;
  margin: 40px 0;
}
.somit-white {
  background-color: #fff;
  margin: 40px 0;
}
/* ////////////////////////////////////////////////////// */
/*	         	     Каркас    			    	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Выравнивание    			 	*/
/* ////////////////////////////////////////////////////// */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
/* ////////////////////////////////////////////////////// */
/*	    	     Блок стилей 			     	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	     Начало стилей проекта		 	*/
/* ////////////////////////////////////////////////////// */
body {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  color: #444;
}
h1,
h2,
h3,
h4,
h6,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0px;
}
.header {
  background: #171f2c;
}
.site-logo {
  float: left;
  line-height: 56px;
  height: 56px;
}
.site-logo:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.site-logo__link {
  display: block;
}
.site-logo__link > div {
  display: inline-block;
}
.site-logo__image {
  width: 30px;
  margin-right: 15px;
  margin-bottom: 2px;
}
.site-logo__name {
  height: 20px;
}
.main-nav {
  float: right;
}
.main-nav ul {
  line-height: 56px;
  height: 56px;
}
.main-nav li {
  display: inline-block;
  margin-left: 30px;
}
.main-nav li:first-child {
  margin-left: 0;
}
.main-nav li a {
  color: #e0e0e0;
  font-size: 16px;
  line-height: 16px;
}
.main-nav li a:hover,
.main-nav li a:focus {
  color: #ff2900;
  text-decoration: none;
  -webkit-transition: 400ms color, 400ms background-color;
  transition: 400ms color, 400ms background-color;
}
/* promo/promo.less */
@font-face {
  font-family: "Flaticon";
  src: url("http://epixx.ru/files/flaticon.eot");
  src: url("http://epixx.ru/files/flaticon.eot#iefix") format("embedded-opentype"), url("http://epixx.ru/files/flaticon.woff") format("woff"), url("http://epixx.ru/files/flaticon.ttf") format("truetype"), url("http://epixx.ru/files/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.flaticon-calendar146:before {
  content: "\e000";
}
.flaticon-clock100:before {
  content: "\e001";
}
.flaticon-wallets3:before {
  content: "\e002";
}
div[class^="flaticon-"]:before,
div[class*=" flaticon-"]:before,
div[class^="flaticon-"]:after,
div[class*=" flaticon-"]:after {
  font-family: "Flaticon";
  font-size: 30px;
  font-style: normal;
  color: #ffffff;
}
.course-promo {
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-color: #000;
}
.course-promo__info {
  width: 680px;
  padding: 10px;
  border: 3px solid #ffffff;
  margin: 0 auto;
  margin-bottom: 60px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.course-promo__info--bg-white {
  background-color: #ffffff;
}
.course-promo__info--bg-white .course-info__wrap {
  color: #353535;
}
.course-promo__info--bg-white div[class^="flaticon-"]:before,
.course-promo__info--bg-white div[class*=" flaticon-"]:before,
.course-promo__info--bg-white div[class^="flaticon-"]:after,
.course-promo__info--bg-white div[class*=" flaticon-"]:after {
  color: #353535;
}
.course-info__wrap {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: #ffffff;
}
.course-info__dates {
  width: 150px;
}
.course-info__lessons {
  width: 200px;
}
.course-info__pay {
  width: 230px;
}
.course-info__text {
  display: inline-block;
  vertical-align: top;
  width: 66%;
}
.course-info__icon {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  margin-right: 5%;
  text-align: right;
}
.course-text__title {
  font-size: 18px;
  font-weight: bold;
}
.course-text__subtitle {
  font-size: 14px;
  font-weight: normal;
}
.course-promo__heading {
  padding-top: 100px;
  color: #ffffff;
}
.course-promo__heading span {
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 54px;
}
.course-promo__descripton {
  color: #ffffff;
  margin-bottom: 42px;
  font-size: 22px;
  line-height: 32px;
  padding: 0 30px;
}
.course-promo__button {
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 80px;
  background-color: #ea6161;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 15px 64px 15px 30px;
  cursor: pointer;
  display: inline-block;
  background-image: url(../blocks/course-promo/course-promo__icon.png);
  background-repeat: no-repeat;
  background-position: 94% 50%;
}
.course-promo__button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #ffffff;
}
.course-promo__button:active {
  opacity: 0.6;
  text-decoration: none;
  color: #ffffff;
}
.course-promo__button:focus {
  opacity: 0.6;
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 767px) {
  .course-promo__heading {
    padding-top: 30px;
  }
  .course-promo__heading span {
    font-size: 24px;
    line-height: 30px;
  }
  .course-promo__descripton {
    font-size: 18px;
    line-height: 22px;
    padding: 0;
  }
  .course-promo__button {
    padding: 5px 70px 5px 30px;
    font-size: 16px;
  }
  .course-promo__info {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .course-promo__info {
    display: none;
  }
}
.course-inside {
  padding-top: 20px;
  padding-bottom: 50px;
}
.course-inside__heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
  top: -60px;
}
.course-inside__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.course-inside__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.course-inside__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.course-inside__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.course-benefits__title {
  font-size: 32px;
  line-height: 38px;
  font-weight: normal;
  margin-bottom: 35px;
}
.course-benefits__heading {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 5px;
  font-weight: normal;
}
.course-benefits__question {
  font-size: 18px;
  color: #d73030;
  font-weight: normal;
  border-bottom: 1px solid #d73030;
  margin-bottom: 20px;
  display: inline-block;
  cursor: pointer;
}
.course-benefits__answer {
  font-size: 18px;
  font-weight: normal;
  padding-left: 20px;
  border-left: 5px solid #d73030;
  margin-bottom: 25px;
}
.course-inside__project {
  text-align: center;
}
.course-project__img {
  margin-bottom: 10px;
}
.course-project__img img {
  width: 100%;
}
.course-project__title {
  font-size: 20px;
  font-weight: bold;
}
.course-project__subtitle {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
}
.course-project__button {
  padding: 10px 20px;
  background-color: #48d071;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
}
.course-project__button:hover {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.8;
}
.course-project__button:active {
  text-decoration: none;
  color: #ffffff;
}
.course-project__button:focus {
  text-decoration: none;
  color: #ffffff;
}
.course-api {
  background-color: #363847;
  padding-top: 65px;
}
.course-api__heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}
.course-api__subheading {
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 50px;
}
.course-api__img img {
  width: 100%;
}
.course-api__column-left {
  text-align: right;
  margin-top: 50px;
}
.course-api__column-left .api-info__item {
  text-align: right;
  background-position: 99% 50%;
  padding-right: 35px;
}
.course-api__column-right {
  margin-top: 50px;
}
.course-api__column-right .api-info__item {
  padding-left: 35px;
  background-position: 1% 50%;
}
.course-api__img--books {
  text-align: center;
  margin-bottom: 65px;
}
.api-info__item {
  font-size: 22px;
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
  background-image: url(../blocks/course-api/course-api__icon-plus.png);
  background-repeat: no-repeat;
}
.why-here {
  padding: 60px 0 70px 0;
}
.why-here__heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}
.why-here__heading span {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}
.why-here__subheading {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 50px;
}
.why-here__subheading span {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 50px;
  display: block;
}
.why-here-item {
  margin-bottom: 40px;
}
.why-here-item__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  margin-left: 80px;
  margin-bottom: 10px;
}
.why-here-item__subtitle {
  font-size: 18px;
  line-height: 23px;
  margin-left: 80px;
}
.why-here-item__img {
  float: left;
  width: 55px;
  margin-right: 25px;
}
.why-here-item__img img {
  width: 100%;
}
.in-touch {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 35px;
}
.in-touch__img img {
  max-width: 100%;
}
.in-touch__heading {
  font-weight: bold;
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.in-touch__text {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
  font-weight: normal;
}
.course-conclusion {
  margin-top: 70px;
  margin-bottom: 80px;
}
.course-conclusion__heading {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 30px;
}
.course-conclusion__text {
  margin-bottom: 15px;
}
.course-conclusion__button {
  background-color: #74bb19;
  color: #ffffff;
  padding: 10px 100px;
  display: inline-block;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.course-conclusion__button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: #ffffff;
}
.course-conclusion__button:acive {
  text-decoration: none;
  color: #ffffff;
}
.course-conclusion__button:focus {
  text-decoration: none;
  color: #ffffff;
}
.course-conclusion__button__img img {
  max-width: 100%;
}
.course-conclusion-list {
  margin-bottom: 40px;
}
.course-conclusion-list li {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: normal;
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.course-conclusion-list li:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.course-conclusion-list li:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.details-anchor {
  position: relative;
  top: -43px;
}
.details {
  margin-bottom: 130px;
}
.details__heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
}
.details__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.details__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.details__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.details__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.details-info__column {
  margin-bottom: 10px;
  text-align: center;
}
.details-info__text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}
.details-list {
  margin-top: 50px;
}
.details-list__heading {
  font-size: 22px;
  margin-bottom: 15px;
}
.details-list__list-item {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: normal;
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.details-list__list-item:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.details-list__list-item:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
@media (max-width: 767px) {
  .details-info__column {
    text-align: left;
  }
  .details-info__column p {
    display: inline-block;
    vertical-align: middle;
  }
  .details-info__img {
    width: 50px;
    margin-right: 18px;
  }
  .details-info__text {
    display: inline-block;
    width: 70%;
    margin: 0;
  }
  .details__heading {
    width: 250px;
    font-size: 22px;
  }
  .line-mobile {
    background-image: url(../blocks/details/line-mobile.png);
    padding: 15px;
  }
  .details-list {
    margin-top: 20px;
  }
  .details-list__column {
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .details__heading {
    max-width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .details .container {
    width: 720px;
  }
}
.programm__heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
  top: 11px;
  background-color: #f2f2f2;
}
.programm__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.programm__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.programm__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.programm__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.programm__heading:before {
  border-bottom: 50px solid #f2f2f2;
}
.programm__heading:after {
  border-bottom: 50px solid #f2f2f2;
}
.programm-day {
  padding: 88px 0 96px 0;
}
.programm-day__image {
  text-align: center;
}
.programm-info__lesson-title {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 50px;
}
.programm-info__subtitle {
  font-size: 18px;
  padding-right: 20px;
  margin-bottom: 50px;
}
.programm-info__do {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 22px;
}
.programm-info__teacher {
  width: 47px;
  height: 47px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.programm-info__list-item {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: normal;
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.programm-info__list-item:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.programm-info__list-item:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.programm-info__lesson--teacher-load {
  background-color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  float: right;
  padding: 12px;
  display: inline-block;
  border: 2px solid #f2b658;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  top: 27px;
}
.programm-info__lesson--teacher-load:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 12px;
  height: 16px;
  width: 20px;
  background-repeat: no-repeat;
  background-image: url(../blocks/program/teacher-load__arrow-down.png);
}
.programm-teacher {
  width: 100%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.programm-teacher__description {
  display: inline-block;
  vertical-align: middle;
  max-width: 250px;
}
.programm-teacher__name {
  font-weight: bold;
  font-size: 18px;
}
.programm-teacher__position {
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 900px) {
  .programm-teacher__description {
    max-width: 153px;
  }
  .programm-day .row {
    margin: 0;
  }
  .programm-info__lesson--teacher-load {
    display: none;
  }
}
@media (max-width: 767px) {
  .programm-info__teacher {
    display: none;
  }
  .programm-info__description {
    display: none;
  }
  .programm-info__do {
    display: none;
  }
  .programm-teacher__description {
    display: none;
  }
  .programm-day__info ul {
    display: none;
  }
  .programm-day__image {
    width: 50px;
  }
  .programm-info__lesson-title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  .programm-info__subtitle {
    margin-bottom: 0;
  }
  .programm-day {
    padding: 20px 0 0 0;
  }
  .programm-day .row {
    margin: 0;
  }
  .programm-info__lesson-title {
    padding-left: 15px;
  }
  .programm-info__lesson--teacher-load {
    display: none;
  }
}
.team {
  color: #ffffff;
  background-color: #dae7eb;
  background-image: url(../blocks/team/team__bg.png);
  background-size: cover;
}
.team__heading {
  font-size: 28px;
}
.team-person {
  margin-top: 70px;
}
.team-person__img {
  width: 166px;
  height: 166px;
  position: relative;
}
.team-person__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.team-person__subtitle {
  font-size: 17px;
  margin-bottom: 20px;
}
.team-person__text {
  font-size: 18px;
  line-height: 18px 5px;
  font-style: italic;
}
.team-img__photo {
  width: 100%;
  height: auto;
  border: 4px solid #ffffff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.team-img__logo-company {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: auto;
}
@media (max-width: 1024px) {
  .team-person__img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .team {
    padding-bottom: 20px;
  }
  .team-person {
    margin-top: 20px;
  }
  .team-person .row {
    margin: 0;
  }
  .team-person__name {
    font-size: 18px;
  }
  .team-person__subtitle {
    font-size: 16px;
  }
  .team-person__text {
    display: none;
  }
}
.faq__heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
}
.faq__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.faq__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.faq__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.faq__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.faq-info {
  margin-top: 60px;
}
.faq-item {
  margin-bottom: 34px;
  padding-right: 40px;
}
.faq-item__question {
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  margin-left: 35px;
  cursor: pointer;
}
.faq-item__question p {
  font-size: 18px;
  line-height: 24px;
  display: inline;
  border-bottom: 1px dashed #353535;
}
.faq-item__question:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: -36px;
  width: 25px;
  height: 26px;
  background-image: url(../blocks/faq/icon-question.png);
}
.faq-item__answer {
  font-size: 18px;
  margin-left: 35px;
}
.faq-curator {
  padding: 50px;
  display: inline-block;
  background-color: #f2f2f2;
  border-top: 7px solid #d73030;
  text-align: center;
}
.faq-curator__img {
  margin-bottom: 18px;
}
.faq-curator__position {
  font-size: 18px;
  margin-bottom: 8px;
}
.faq-curator__name {
  font-size: 24px;
  margin-bottom: 12px;
}
.faq-curator__phone {
  margin-bottom: 20px;
  font-size: 16px;
}
.faq-curator__button {
  font-size: 18px;
  color: #ffffff;
  padding: 8px 18px;
  background-color: #48d071;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.faq-curator__button:active {
  opacity: 0.5;
  color: #ffffff;
  text-decoration: none;
}
.faq-curator__button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}
.faq-curator__button:visited {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}
@media (max-width: 767px) {
  .faq .row {
    margin: 0;
  }
  .faq__heading {
    width: 250px;
    font-size: 22px;
  }
  .faq-info {
    margin-top: 0;
  }
  .faq-item__answer {
    font-size: 16px;
    line-height: 22px;
  }
  .faq-curator {
    padding: 25px;
    text-align: left;
  }
  .faq-img__wrapper {
    width: 30%;
    margin-right: 6%;
    display: inline-block;
    vertical-align: top;
  }
  .curator-info {
    display: inline-block;
    vertical-align: top;
    width: 60%;
  }
  .faq-curator {
    border-top: 0;
  }
  .faq-curator__position {
    font-size: 13px;
  }
  .faq-curator__name {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .faq-curator__phone {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .faq__heading {
    max-width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 900px) {
  .faq .row {
    margin: 0;
  }
}
.process {
  background-color: #2e2e2e;
  padding: 30px 0 40px 0;
  color: #ffffff;
}
.process__heading {
  font-size: 28px;
  margin-bottom: 40px;
}
.process__subheading {
  font-size: 18px;
  margin-bottom: 40px;
}
.process-images__image-item {
  border: 3px solid #ffffff;
  width: 100%;
  margin-bottom: 25px;
}
.process-images .row {
  margin: 0;
}
.register {
  background-image: url(../blocks/register/register-bg.jpg);
  background-size: cover;
  padding: 45px 0;
}
.register-form {
  padding: 20px;
  background-color: #ffffff;
  border-top: 4px solid #d73030;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.register-info {
  padding: 20px;
  background-color: #ffffff;
  border-top: 4px solid #d73030;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.feedback {
  padding: 70px 0;
}
.feedback__heading {
  font-size: 28px;
  margin-bottom: 35px;
}
.feedback-info {
  margin-bottom: 10px;
}
.feedback-item {
  margin-bottom: 15px;
}
.feedback-item__img {
  display: inline-block;
  vertical-align: middle;
  width: 62px;
  height: 62px;
  margin-right: 10px;
}
.feedback-item__img img {
  width: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.feedback-item__name {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
.feedback-item__text {
  font-size: 18px;
}
.related-courses {
  padding: 50px 0;
}
.related-course__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 50px;
  position: relative;
}
.related-course__title:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -13px;
  width: 71px;
  height: 4px;
  background-color: #d73030;
}
.related-course__title:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -13px;
  width: 71px;
  height: 4px;
  background-color: #d73030;
}
.related-course__link:hover {
  opacity: 0.9;
}
.related-course__link:active {
  opacity: 0.8;
}
.related-course__img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1100px) {
  .related-course__title {
    font-size: 21px;
  }
}
@media (max-width: 320px) {
  footer .container {
    width: 320px;
    padding: 0;
  }
  footer .footer__menu {
    min-width: 305px;
  }
  footer .footer__logo {
    margin-left: 20px;
  }
  footer #js-hidden-panda {
    margin-right: 20px !important;
  }
  footer .footer__about {
    min-width: 320px;
    border-left: none;
    border-right: none;
  }
  footer .footer__contacts {
    padding: 0 20px !important;
  }
  footer .footer__contacts__address span:last-child label {
    display: none;
  }
}
@media (max-width: 530px) {
  footer.footer {
    background-image: url('../blocks/footer/footer__bg--768.jpg') !important;
  }
  footer .footer__menu {
    height: inherit;
    line-height: inherit;
  }
  footer .footer__menu .footer__logo {
    height: 58px;
    line-height: 58px;
  }
  footer .footer__menu .footer__logo:after {
    height: 0px;
  }
  footer .footer__menu .footer__nav {
    float: none;
    display: none;
    clear: both;
  }
  footer .footer__menu .footer__nav ul li {
    margin: 0;
    padding: 0;
    float: none;
    border-top: 1px solid #dedede;
  }
  footer .footer__menu .footer__nav ul li a {
    display: block;
    padding: 20px 22px;
    color: #dedede;
  }
  footer .footer__menu .footer__nav ul li a:hover {
    color: white;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
  }
  footer #js-hidden-panda {
    display: block !important;
    float: right;
  }
  footer .footer__about > .footer__btn {
    width: 100%;
    min-width: 224px;
  }
  footer .footer__contacts > div {
    width: 100% !important;
    text-align: left !important;
  }
  footer .footer__contacts__address span label {
    display: block;
  }
}
@media (max-width: 500px) {
  footer .row {
    margin: 0;
  }
  footer.newBlack a.mail {
    margin-top: 10px;
  }
  footer.newBlack .vk {
    float: none;
  }
}
@media (max-width: 992px) {
  footer.footer {
    background-image: url('../blocks/footer/footer__bg--1024.jpg');
  }
  footer .footer__about {
    width: 100%;
    max-width: none;
  }
  footer .footer__contacts {
    padding: 0;
    width: 100%;
  }
  footer .footer__contacts__title {
    display: none !important;
  }
  footer .footer__contacts > div {
    width: 50%;
    float: left;
  }
  footer .footer__contacts > div:last-child {
    text-align: right;
  }
}
@media (max-width: 1200px) {
  footer .container {
    width: 100%;
  }
  footer .footer__contacts__tel {
    margin-bottom: 20px;
  }
}
.heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
}
.heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -44px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.list-item__orange {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: normal;
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.list-item__orange:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.title--arrowed {
  position: relative;
}
.title--arrowed:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -13px;
  width: 71px;
  height: 4px;
  background-color: #d73030;
}
.box-bordered {
  padding: 20px;
  background-color: #ffffff;
  border-top: 4px solid #d73030;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* ////////////////////////////////////////////////////// */
/*	    	      Блок цветов			 	 */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Блок размеров   			 	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Блок фонов			 	 */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Блок шрифтов  			 	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	     Блок иконок 			 	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*             Блок эффектов        */
/* ////////////////////////////////////////////////////// */
.footer {
  color: white;
  background-image: url('../blocks/footer/footer__bg--1920.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #042e46;
  background-size: cover;
  min-height: 350px;
}
.footer__menu {
  height: 110px;
  line-height: 110px;
  overflow: hidden;
}
.footer__logo {
  float: left;
  font-size: 24px;
  margin-right: 86px;
  position: relative;
}
.footer__logo:after {
  content: "";
  position: absolute;
  background-image: url('../blocks/footer/footer-spritesheet.png');
  background-repeat: no-repeat;
  background-position: -287px -5px;
  width: 23px;
  height: 110px;
  left: 138px;
  top: 0;
}
.footer__nav {
  float: left;
}
.footer__nav ul {
  list-style: none;
}
.footer__nav ul li {
  float: left;
  margin-right: 17px;
  padding-top: 3px;
}
.footer__nav ul li:last-child {
  margin-right: 0px;
}
.footer__nav ul li a {
  color: white;
  font-size: 18px;
}
.footer__nav ul li a:hover {
  opacity: 0.8;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  text-decoration: none;
}
.footer #js-hidden-panda {
  display: none;
  width: 25px;
  height: 58px;
  background: url('../blocks/footer/footer-spritesheet.png') no-repeat;
  background-position: -875px -33px;
}
.footer #js-hidden-panda:hover {
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.footer__content {
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;
}
.footer__about {
  border: 3px solid #dedede;
  padding: 25px 30px 5px 30px;
  min-width: 280px;
  max-width: 734px;
  width: 64%;
  float: left;
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer__about p {
  margin-bottom: 30px;
  font-size: 18px;
}
.footer__btn {
  margin-bottom: 20px;
}
.footer__contacts {
  padding: 0 0 0 30px;
  width: 36%;
  min-width: 320px;
  float: left;
}
.footer__contacts__title {
  display: block;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 26px;
}
.footer__contacts span {
  display: block;
}
.footer__contacts__address {
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  position: relative;
}
.footer__contacts__address span > span {
  display: inline-block;
  min-width: 164px;
}
.footer__contacts__address label {
  font-weight: normal;
}
.footer__contacts__address:before {
  content: "";
  position: absolute;
  display: block;
  background-image: url('../blocks/footer/footer-spritesheet.png');
  background-repeat: no-repeat;
  background-position: -50px -50px;
  width: 17px;
  height: 25px;
  left: 3px;
  top: 1px;
}
.footer__contacts__tel {
  padding-left: 35px;
  margin-bottom: 20px;
  position: relative;
}
.footer__contacts__tel:before {
  content: "";
  position: absolute;
  display: block;
  background-image: url('../blocks/footer/footer-spritesheet.png');
  background-repeat: no-repeat;
  background-position: -167px -50px;
  width: 20px;
  height: 20px;
  left: 3px;
  top: 1px;
}
.footer__contacts__tel span {
  padding-right: 26px;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 20px;
}
.footer__contacts__social-icons {
  margin-bottom: 30px;
}
.footer__contacts__social-icons--vkontakte {
  background-image: url('../blocks/footer/footer-spritesheet.png');
  background-repeat: no-repeat;
  background-position: -776px -50px;
  width: 22px;
  height: 23px;
  left: 0;
  top: 0;
}
.footer__contacts__social-icons--facebook {
  background-image: url('../blocks/footer/footer-spritesheet.png');
  background-repeat: no-repeat;
  background-position: -410px -50px;
  width: 22px;
  height: 23px;
  left: 0;
  top: 0;
}
.footer__contacts__social-icons--instagram {
  background-image: url('../blocks/footer/footer-spritesheet.png');
  background-repeat: no-repeat;
  background-position: -532px -50px;
  width: 22px;
  height: 23px;
  left: 0;
  top: 0;
}
.footer__contacts__social-icons--twitter {
  background-image: url('../blocks/footer/footer-spritesheet.png');
  background-repeat: no-repeat;
  background-position: -654px -50px;
  width: 22px;
  height: 23px;
  left: 0;
  top: 0;
}
.footer__contacts__social-icons li {
  display: inline-block;
  text-indent: -9999px;
  margin-right: 14px;
  font-size: 0px;
}
.footer__contacts__social-icons li:last-child {
  margin: 0;
}
.footer__contacts__social-icons li a {
  display: block;
}
.footer__contacts__social-icons li a:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.footer__contacts__info {
  font-size: 15px;
}
.footer__contacts__info a {
  color: white;
}
.footer__contacts__info a:hover {
  text-decoration: none;
  opacity: 0.7;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.footer__contacts__info a span {
  display: inline-block;
  border-bottom: 1px solid #dedede;
  height: 18px;
}
.footer__btn {
  border: 1px solid #dedede;
  color: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 14px 20px;
  background: none;
  font-size: 18px;
  line-height: 16px;
  outline: none;
  margin-right: 20px;
}
.footer__btn:last-child {
  margin-right: 0;
}
.footer__btn:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.footer__btn--small {
  padding: 8px;
  font-size: 15px;
  line-height: 10px;
  width: default;
}
.footer__btn--small:hover {
  opacity: 0.7;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
