/* ////////////////////////////////////////////////////// */
/*	    	      Блок цветов			 	 */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Блок размеров   			 	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Блок фонов			 	 */
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Блок шрифтов  			 	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	     Блок иконок 			 	*/
/* ////////////////////////////////////////////////////// */
.container {
  width: 1180px;
}
.heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
}
.heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -45px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -45px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.list-item__orange {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: normal;
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.list-item__orange:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.title--arrowed {
  position: relative;
}
.title--arrowed:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -13px;
  width: 71px;
  height: 4px;
  background-color: #d73030;
}
/* ////////////////////////////////////////////////////// */
/*	    	       Зонирование     			 	*/
/* ////////////////////////////////////////////////////// */
.somit-light {
  background-color: #ddd;
  margin: 40px 0;
}
.somit-image {
  background-color: #ddd;
  margin: 40px 0;
}
.somit-dark {
  background-color: #444;
  margin: 40px 0;
}
.somit-white {
  background-color: #fff;
  margin: 40px 0;
}
/* ////////////////////////////////////////////////////// */
/*	         	     Каркас    			    	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	      Выравнивание    			 	*/
/* ////////////////////////////////////////////////////// */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
/* ////////////////////////////////////////////////////// */
/*	    	     Блок стилей 			     	*/
/* ////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////// */
/*	    	     Начало стилей проекта		 	*/
/* ////////////////////////////////////////////////////// */
body {
  font-family: 'PT Sans';
  font-size: 16px;
  color: #444;
}
h1,
h2,
h3,
h4,
h6,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0px;
}
/* promo/promo.less */
.course-promo {
  overflow: hidden;
  min-width: 1180px;
  background-image: url(../blocks/course-promo/course-promo__bg.jpg);
  background-size: cover;
  background-position: center center;
  background-color: #000;
  padding-top: 135px;
  padding-bottom: 105px;
}
.course-promo__heading span {
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 54px;
}
.course-promo__descripton {
  margin-bottom: 42px;
  font-size: 22px;
  line-height: 32px;
  padding: 0 30px;
}
.course-promo__button {
  font-size: 18px;
  line-height: 32px;
  color: #353535;
  border: 3px solid #48d071;
  border-radius: 10px;
  padding: 15px 30px;
  cursor: pointer;
  display: inline-block;
}
.course-promo__button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.course-promo__button:active {
  opacity: 0.6;
}
@media (max-width: 768px) {
  .course-promo__descripton {
    font-size: 18px;
    line-height: 22px;
  }
}
.details-anchor {
  position: relative;
  top: -43px;
}
.details {
  min-width: 1180px;
  margin-bottom: 130px;
}
.details__heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
}
.details__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -45px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.details__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -45px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.details-info div {
  text-align: center;
}
.details-info__text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}
.details-list {
  margin-top: 50px;
}
.details-list__heading {
  font-size: 22px;
  margin-bottom: 15px;
}
.details-list__list-item {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: normal;
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.details-list__list-item:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.programm {
  min-width: 1180px;
}
.programm__heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
  top: 11px;
  background-color: #f2f2f2;
}
.programm__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -45px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.programm__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -45px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.programm__heading:before {
  border-bottom: 50px solid #f2f2f2;
}
.programm__heading:after {
  border-bottom: 50px solid #f2f2f2;
}
.programm-day {
  padding: 88px 0 96px 0;
}
.programm-day__image {
  text-align: center;
}
.programm-info__lesson-title {
  font-size: 42px;
  line-height: 50px;
  margin-bottom: 50px;
}
.programm-info__subtitle {
  font-size: 18px;
  padding-right: 20px;
  margin-bottom: 50px;
}
.programm-info__do {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 22px;
}
.programm-info__teacher {
  width: 47px;
  height: 47px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.programm-info__list-item {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: normal;
  list-style: none;
  padding-left: 30px;
  position: relative;
}
.programm-info__list-item:before {
  content: " ";
  display: block;
  position: absolute;
  top: 11px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #d73030;
}
.programm-teacher {
  width: 100%;
  border-radius: 3px;
}
.programm-teacher__description {
  display: inline-block;
  vertical-align: middle;
  max-width: 250px;
}
.programm-teacher__name {
  font-weight: bold;
  font-size: 18px;
}
.programm-teacher__position {
  font-size: 16px;
}
.team {
  min-width: 1180px;
  padding: 20px 0 140px 0;
  color: #ffffff;
  background-color: #f2f2f2;
  background-image: url(../blocks/team/team__bg.png);
  background-size: cover;
}
.team__heading {
  font-size: 28px;
}
.team-person {
  margin-top: 70px;
}
.team-person__img {
  width: 166px;
  height: 166px;
  position: relative;
}
.team-person__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.team-person__subtitle {
  font-size: 22px;
  margin-bottom: 20px;
}
.team-person__text {
  font-size: 18px;
  line-height: 18px 5px;
  font-style: italic;
}
.team-img__photo {
  width: 100%;
  height: auto;
  border: 4px solid #ffffff;
  border-radius: 100%;
}
.team-img__logo-company {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: auto;
}
.faq__heading {
  position: relative;
  font-size: 28px;
  top: -43px;
  background-color: #ffffff;
  width: 400px;
  padding-top: 20px;
  margin: 0 auto;
}
.faq__heading:before {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  left: -45px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-left: 45px solid transparent;
}
.faq__heading:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  right: -45px;
  top: 0;
  border-bottom: 50px solid #ffffff;
  border-right: 45px solid transparent;
}
.faq-info {
  margin-top: 60px;
}
.faq-item {
  margin-bottom: 34px;
  padding-right: 40px;
}
.faq-item__question {
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px dashed #353535;
  position: relative;
  margin-left: 35px;
}
.faq-item__question:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: -36px;
  width: 25px;
  height: 26px;
  background-image: url(../blocks/faq/icon-question.png);
}
.faq-item__answer {
  font-size: 18px;
  margin-left: 35px;
}
.faq-curator {
  padding: 50px;
  display: inline-block;
  background-color: #f2f2f2;
  border-top: 7px solid #d73030;
  text-align: center;
}
.faq-curator__img {
  margin-bottom: 18px;
}
.faq-curator__position {
  font-size: 18px;
  margin-bottom: 8px;
}
.faq-curator__name {
  font-size: 24px;
  margin-bottom: 12px;
}
.faq-curator__phone {
  margin-bottom: 20px;
  font-size: 16px;
}
.faq-curator__button {
  font-size: 18px;
  color: #ffffff;
  padding: 8px 18px;
  background-color: #48d071;
  border-radius: 10px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.faq-curator__button:active {
  opacity: 0.5;
}
.faq-curator__button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
}
.process {
  min-width: 1180px;
  background-color: #2e2e2e;
  padding: 30px 0 40px 0;
  color: #ffffff;
}
.process__heading {
  font-size: 28px;
  margin-bottom: 40px;
}
.process__subheading {
  font-size: 18px;
  margin-bottom: 40px;
}
.process-images__image-item {
  border: 3px solid #ffffff;
  width: 100%;
}
.process-images .row {
  margin: 0;
}
.register {
  background-image: url(../blocks/register/register-bg.jpg);
  background-size: cover;
  padding: 45px 0;
}
.register-form {
  background-color: #ffffff;
  padding: 20px;
}
.feedback {
  min-width: 1180px;
  padding: 70px 0;
}
.feedback__heading {
  font-size: 28px;
  margin-bottom: 35px;
}
.feedback-info {
  margin-bottom: 10px;
}
.feedback-item__img {
  display: inline-block;
  vertical-align: middle;
  width: 62px;
  height: 62px;
  margin-right: 10px;
}
.feedback-item__img img {
  width: 100%;
  border-radius: 100%;
}
.feedback-item__name {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
.feedback-item__text {
  font-size: 18px;
}
.related-courses {
  min-width: 1180px;
  padding: 50px 0;
}
.related-course__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  margin-bottom: 50px;
  position: relative;
}
.related-course__title:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -13px;
  width: 71px;
  height: 4px;
  background-color: #d73030;
}
.related-course__link:hover {
  opacity: 0.9;
}
.related-course__link:active {
  opacity: 0.8;
}
.related-course__img {
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1100px) {
  .related-course__title {
    font-size: 21px;
  }
}
