include ./../../jade/variables.jade

// стандартная шапочка сайта
header.header
  .container
    .header__logo
      a.header__logo__link(href='/')
        img.header__logo__image(src='../blocks/header/header__logo__image.svg')
        img.header__logo__name(src='../blocks/header/header__logo__name.svg')

    // выпадашка
    span#js-header-panda

    // навигация
    nav.header__nav
      ul
        each linkPath, linkName in mainNav
          li: a(href= linkPath) #{linkName}
