@media (max-width: 320px) {
  header {
    .container { width: 320px; padding: 0;}

    .header__nav {
       min-width: 305px;
    }

    .header__logo { margin-left: 20px; }
    #js-header-panda { margin-right: 20px !important; }
  }
}
