@media (max-width: 320px) {
  .course-inside {
    .course-inside__projects-group {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .course-inside {
    .course-inside__project {
      float: left !important;

      &:last-child {float: right !important;}
    }
  }
}
