@media (max-width: 992px) {
  .course-inside {
    padding-bottom: 80px !important;

    .container { padding: 0 26px; }
    .course-inside__info { margin: 0; }
    .course-inside__benefits {
      float: none;
      width: 100%;
      margin-bottom: 50px;

      &__item {
        display: inline-block;
        vertical-align: top;
        margin-right: 65px;
        width: 44%;
        min-width: 250px;

        &:nth-child(2n+2) {
          margin-right: 0px;
        }

        h2, p { max-width: 344px; }
      }
    }

    .course-inside__projects-group {
      float: none;
      width: 100%;
      text-align: center;
      padding: 0;
      margin: 0;
    }

    .course-inside__project {
      float: none;
    }
  }
}

@media (max-width: 1200px) {
  .course-inside {
    .container { width: 100%; }
  }
}
