@media (max-width: 320px) {
  footer {
    .container { width: 320px; padding: 0;}

    .footer__menu {
       min-width: 305px;
    }

    .footer__logo { margin-left: 20px; }
    #js-footer-panda { margin-right: 20px !important; }

    .footer__about {
      min-width: 320px;
      border-left: none;
      border-right: none;
    }

    .footer__contacts {
      padding: 0 20px !important;

      //- удаляем заголовок Время работы
      &__address span:last-child label { display: none; }
    }
  }
}

@media (max-width: 530px) {
  //- спускаем соц.иконки под телефон
  .footer__contacts {
    > div { width: 100% !important; text-align: left !important; }

    //- фиксируем заголовки Наш офис и Время работы на отдельных строках
    &__address span label { display: block; }
  }
}

//- это не мое, я не знаю откуда это здесь и зачем
//- пожалуйста, подпишите или удалите, кто в курсе
@media (max-width: 500px) {
    footer .row { margin: 0; }
    footer.newBlack a.mail { margin-top: 10px; }
    footer.newBlack .vk { float: none; }
}
//- п.с.: Никита
