@media (max-width: 320px) {
  footer {
    .container { width: 320px; padding: 0;}
    .footer__about {
      min-width: 320px;
      border-left: none;
      border-right: none;
    }
    .footer__menu, .footer__contacts {padding: 0 20px !important;}
  }
}

@media (max-width: 510px) {
  footer {
    .footer__about > .footer__btn {
      width: 100%;
      min-width: 224px;
    }

    .footer__logo:after {height: 0px;}
    .footer__nav {display: none;}
    .hidden-panda {
      display: block !important;
      float: right;
    }

    //- спускаем соц.иконки под телефон
    .footer__contacts {
      > div { width: 100% !important; text-align: left !important; }
    }
  }
}

@media (max-width: 500px) {
    footer .row { margin: 0; }
    footer.newBlack a.mail { margin-top: 10px; }
    footer.newBlack .vk { float: none; }
}
