/* promo/promo.less */

.course-promo{
	overflow: hidden;
	// background-image: url(../blocks/course-promo/course-promo__bg.jpg);
	background-size: cover;
	background-position: center center;
	background-color: #000;
	// padding-top: 135px;
	// padding-bottom: 105px;
	&__info {
		width: 650px;
		padding: 10px;
		border: 3px solid @white;
		margin: 0 auto;
		margin-bottom: 60px;
	}
}

.course-info {
	&__wrap {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		padding-left: 55px;
		background-repeat: no-repeat;
		color: @white;
	}
	&__dates { 
		width: 170px; 
		background-image: url(../blocks/course-promo/icon-days.png);
		background-position: 5% 50%;
	}
	&__lessons { 
		width: 190px; 
		background-image: url(../blocks/course-promo/icon-lessons.png);
		background-position: 7% 50%;
	}
	&__pay { 
		width: 230px;  
		background-image: url(../blocks/course-promo/icon-pay.png);
		background-position: 3% 50%;
	}
}
	.course-promo__heading {
		padding-top: 100px;
	}
	.course-promo__heading span {
		font-size: @h1;
		line-height: @lh-h1;
		font-weight: bold;
		margin-bottom: 54px;
	}

	.course-promo__descripton{
		margin-bottom: 42px;
		font-size: @medium+(-2px);
		line-height: @lh-m;
		padding: 0 30px;
	}

	.course-promo__button{
		font-size: 18px;
		line-height: @lh-m;
		color: @white;
		background-color: @red;
		border-radius: 10px;
		padding: 15px 64px 15px 30px;
		cursor: pointer;
		display: inline-block;
		background-image: url(../blocks/course-promo/course-promo__icon.png);
		background-repeat: no-repeat;
  		background-position: 94% 50%;
		&:hover {
			opacity: 0.8;
			text-decoration: none;
			color: @white;
		}
		&:active {
			opacity: 0.6;
			text-decoration: none;
			color: @white;
		}
		&:focus {
			opacity: 0.6;
			text-decoration: none;
			color: @white;
		}
	}


	 
@import "course-promo--phone.less"; 
@import "course-promo--tablet.less"; 