// Промо-блок курса
.course-promo.text-center
	h1.course-promo__heading  Lorem ipsum dolor sit amet. 
	p.course-promo__descripton  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	a.course-promo__button  Lorem ipsum.