// Промо-блок курса
.course-promo.text-center
	h1.course-promo__heading  LEVEL UP для веб-дизайнера,<br>который хочет подрасти 
	p.course-promo__descripton  Единственные курсы Веб-дизайна в Санкт-Петербурге,<br>в которых собраны проектирование, прототипирование,<br>обучение программам Axure и Adobe Photoshop, решение кейсов<br>и возможность создать портфолио в процессе обучения.<br>Вы научитесь делать невозможное.
	a.course-promo__button(href='#register')  Да, я хочу двигаться дальше