/* promo/promo.less */

.course-promo{
	overflow: hidden;
	background-image: url(../blocks/course-promo/course-promo__bg.jpg);
	background-size: cover;
	background-position: center center;

	.course-promo__heading {


	}

	.course-promo__descripton{

	
	}

	.course-promo__button{

	
	}

}
	 
@import "course-promo--phone.less"; 
@import "course-promo--tablet.less"; 